<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.6;
            margin: 20px;
            color: #333;
        }
        p {
            margin-bottom: 1em;
        }
        .note {
            font-style: italic;
            color: #555;
        }
        .highlight {
            font-weight: bold;
            color: #000;
        }

        img {
            width: 50vw;
            height: 40vh;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Browsing Behavior Experiment</h1>
    <p>Thank you for choosing to participate in the experiment. Below are the details of what to expect from it.</p>

    <p>This experiment requires you to don the role of an owner of a small manufacturing company who wants
    to find potential buyers on an online business-to-business platform called <span class="highlight">“B2BMart”</span>. The platform
    arranges buyer requests one after the other on your login page as shown below. A buyer request is an
    instance of a buyer sharing their procurement needs with B2BMart, which it displays to you. If you think
    that the buyer request is relevant to your business, you may click on the <span class="highlight">“I am Interested in the Buyer”</span>
    button on the screen to express your interest in engaging with the buyer.</p>

    <p>On your screen, you will find the relevance of each buyer request to your business scored on six
    dimensions – (i) product relevance, (ii) location relevance, (iii) order quantity, (iv) buyer reliability, (v)
    potential for future business, and (vi) other products from the buyer. If the total score from all six
    dimensions exceeds <span class="highlight">72</span>, the request is fit for your business, and you may click the <span class="highlight">“I am Interested in the Buyer”</span>
    button.</p>

    <p>You are asked to play <span class="highlight">9</span> rounds. In each round, your goal is to find buyer requests that are relevant to
    your business, i.e., find requests where the total score exceeds <span class="highlight">72</span>. In order to help you find the requests
    quickly, the platform attempts to rank requests in descending order of value but may not always
    succeed in ranking the requests accurately. At any point in the round, you may choose to end the
    current round and start a new round by clicking the <span class="highlight">“Start New Session”</span> button at the top of the page.</p>

    <p class="note">Clicking this button would display a new list of buyer requests. However, we recommend you to view at
    least the top <span class="highlight">30</span> buyer requests in each round before clicking the Start New Session button.</p>

    <p>You will be provided a fixed compensation of <span class="highlight">$2</span> to participate and a variable compensation of <span class="highlight">$0.20</span> for
    every relevant buyer request you find at the end of all 9 rounds. If you click on the select button when
    the total value is less than 72, there will be a <span class="highlight">screen freeze for 10 seconds</span></p>

    <p>On the next page, you will see three multiple choice questions to recap the experiment and your task.
    Please answer all of them accurately to participate.</p>
        <img src="{{ url_for('static', filename='images/page.png') }}">
    <form action="/assessment" method="post">
        <label for="user_id">Prolific ID:</label>
        <input type="text" id="user_id" name="user_id" required><br><br>

        <label for="email_id">Email Address</label>
        <input type="text" id="email_id" name="email_id" required><br><br>
        <button type="submit">Start Experiment</button>
    </form>
</body>
</html>
